@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to management of your bank systems</h1>
    <p>
        <a asp-action="Index">Create New</a>
    </p>
</div>
